
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family:'Lato', sans-serif;
}

.offset:before{
	 display: block;
	 content: "";
	 height: 6rem;

} 

/*------sticky nav--------*/

#sticky-container {
    background:#303131;
    padding: 1rem 1.5rem;
   }
  
  .topbar-sticky-shrink {
    padding: 2rem;
    transition: padding 0.25s ease;
    background: #303131;
  }
  
  
  #top-bar-sticky-logo {
    color: #fefefe;
    font: weight 50;
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .topbar-sticky-shrink .menu {
    background:#303131;
    width: 100%;
  } 

  .is-stuck .topbar-sticky-shrink {
    padding: 1rem;
    transition: padding 0.25s ease;
  }
  
  .top-bar ul  {
     background:#303131;
  }  
  
  .top-bar-right .menu a {
    color: #fefefe;
    transition: color 0.15s ease-in;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  
  .top-bar-right .menu a:hover {
    color: #eb1008;
  }
  
  
  .title-bar {
    background: #303131;
  
  }
  
  @media screen and (max-width: 39.9375em) {
    .no-js .top-bar {
      display: none;
    }
    #top-bar-sticky-logo {
      font-size: 16px;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    .no-js .title-bar {
      display: none;
    }
  }
  
  [data-sticky] {
    width: 100%;
  }
  
  .sticky-container {
    z-index: 5;
  } 

/*-------------------*/

 /*--------navbar start-------------*/

/* .navbar {
text-transform: uppercase;
font-size: 14px;
font-weight: 750;
letter-spacing: 0.2rem;
background: rgba(0, 0, 0, 0.6)!important;
padding: 20px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
  }

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
color: #b12f2f;
} */
 /*--------navbar end------------------------------*/
 

  /*--------heading content start------------------------------*/

.heading-content {
	position: absolute;
	top: 40%;
	width: 100%;
	max-width: 100%;
}

.heading-content h5 {
	font-size: 3em;
	font-weight: 300;
	color: rgb(223, 219, 219);
	font-family: monospace;
}

.heading-content h1 {
	font-size: 4em;
	font-weight: bold;
	color: rgb(204, 202, 202);
    font-family: 'Montserrat', sans-serif;
}
 /*--------heading content end------------------------------*/




/*--------about start-------------*/

#about {
	min-height:500px;
	margin-top:100px;
	margin-left:40px;
	margin-right:50px;
}
 
.img-fluid {
    width: 100%;	
}

#about h2 {
	color: dimgrey;
	font-weight: bold;
	font-size: 48px;   
}

#about p {
	color: rgb(51, 51, 54);
	text-align: left;	
	font-size: 16px;
	font-weight: normal;
	margin-left: 25px;
	
}
  
 /*--------about end-------------------*/



/*--------Portfoloier ------------*/

.portfolio-resume-scrolling-container {
	height: 400px;
	border: 1px solid #cacaca;
  }
  
  .portfolio-resume-overview {
	height: 400px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	position: relative;
	opacity: 1;
	z-index: 0;
  }
  
  .portfolio-resume-overview:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("https://placeimg.com/400/400/animals");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.3;
	z-index: 0;
  }
  
  .portfolio-resume-overview-content {
	max-width: 300px;
	z-index: 1;
  }
  
  .portfolio-resume-scrolling {
	padding-top: 10px;
	padding-bottom: 10px;
  }
  
  @media print, screen and (min-width: 40em) {
	.portfolio-resume-scrolling {
	  height: 400px;
	  overflow-y: auto;
	}
  }
  
  

/*--------Portfoloier end------------*/




/*--------porfolio start---------*/

#portfolio h1 {
	color: rgb(80, 77, 77);
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	margin-top: 20px;
}

#portfolio p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(51, 51, 54)
	font-size: 16px;
	font-weight: normal;
	text-align: center;
}

/*--------porfolio ---------*/


/*------middle braek------*/

.callout-hover-reveal .callout-footer {
    display: none;
} 



/*--------contact start-----------------*/

#contact h1 {   
    font-size: 3em;
	font-weight: bold;
	color: dimgrey;
    font-family: 'Montserrat', sans-serif;
}

/*--------contact start---------*/



/*-----footer start-------*/
	
footer {
background-color: #303131;
padding:40px;

}


/*--------footer end-------------------*/



/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { device-aspect-ratio, device-width, device-height}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { height, width, grid, any hover }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { color,resolution }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { resolution,width } */


/**--------Media Query---------*/

