@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap");

/*------sticky nav--------*/

#sticky-container {
  background: #e96107;
  padding: 1rem 1.5rem;
}

.topbar-sticky-shrink {
  padding: 2rem;
  transition: padding 0.25s ease;
  background: #545753;
}

#top-bar-sticky-logo {
  background: #535557;
  color: #fefefe;
  font: weight 50;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.topbar-sticky-shrink .menu {
  background: #535557;
  width: 100%;
}

.is-stuck .topbar-sticky-shrink {
  padding: 1rem;
  transition: padding 0.25s ease;
}

.top-bar {
  background-color: transparent;
}
.top-bar ul {
  background: #535557;
}

.top-bar-right .menu a {
  background-color: #535557;
  color: #fefefe;
  transition: color 0.15s ease-in;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.top-bar-right .menu a:hover {
  color: #eb1008;
}
/*---------new stick bar entry --------*/

.title-bar {
  background: #535557;
}

@media screen and (max-width: 39.9375em) {
  .no-js .top-bar {
    display: none;
  }
  #top-bar-sticky-logo {
    font-size: 16px;
  }
}

@media print, screen and (min-width: 40em) {
  .no-js .title-bar {
    display: none;
  }
}

[data-sticky] {
  width: 100%;
}

.sticky-container {
  z-index: 5;
}

/*-------------------*/


/***-----swiper ------*/

body {
  background: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 370px;
  height: 370px;
}

/*--------middle box -----------*/

.callout-hover-reveal .callout-footer {
  display: none;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(48, 47, 47);
}
h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(48, 47, 47);
}

h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(48, 47, 47);
}

h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(48, 47, 47);
}
/*--------------middle end-----*/

/*------- image waste effect-------------*/

.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {
  margin-bottom: 20px;
}

.featured-image-block .featured-image-block-title {
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #404040;
}

.featured-image-block a:hover p {
  color: #1779ba;
}

.anchor {
  height: 80px;
  visibility: hidden;
}

/*------- image waste effect end -------------*/


/*-----search buttons----*/

/* .countrySearchButton {
  height: 2.4375rem;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;        
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}

.mycountrySearch:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
.countrySearch:active {
  position: relative;
  top: 1px;
} */

/*------ need map box and loc box-------*/


.maptitles {
  color: rgb(68, 65, 65);
  font-size: 20px;
  font-weight: bold;
}

#map {
  margin-bottom: 400px;
  max-width: 90%;
  height: 400px;
  margin: 20px;
}

#location {
  margin-bottom: 400px;
  max-width: 90%;
  height: 400px;
  margin: 20px;
}

/*------ need map box end-------*/
  

/*--------about us------*/

.anchor3 {
  height: 50px;
  visibility: hidden;
}

/*--------get informed------*/

.anchor4 {
  height: 50px;
  visibility: hidden;
}


/*------footer----*/

.footer {
  height: 70px;
  bottom: 0px;
  width: 100%;
  position: fixed;
  background: #535557;
}

.footer li {
  color: rgb(248, 246, 244);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bold;
}
